<app-header></app-header>
<div class="row" style="margin-left: 40%;">
  <h1>Datos deportivos</h1>
</div>
<div class="row" style="margin-left: 20%;">
  <div class="col">
    <img src="../../../assets/img/equipos.webp" alt="equipos" (click)="navigateToEquipos()">
  </div>
  <div class="col">
    <img src="../../../assets/img/partidos.jpg" alt="partidos" (click)="navigateToPartidos()">
  </div>
  <div class="col">
    <img src="../../../assets/img/sucesos.png" alt="sucesos" (click)="navigateToSucesos()">
  </div>
</div>
<br>
<div>
  <app-footer></app-footer>
</div>



