<div>
  <b>Mostrando {{partidos.length}}</b>
</div>
<br>

<div class="col" *ngFor="let partido of partidos">
  <div class="row">
    <div class="col">
      <a routerLink="partido/{{partido.id}}">{{partido.idLocal}} - {{partido.idVisitante}}</a>
      <button class="btn btn-primary" style="margin-left: 20px;" routerLink="mod/{{partido.id}}">Modificar</button>
      <button class="btn btn-danger" style="margin-left: 20px;" (click)="removePartidos(partido.id)">Eliminar</button>
    </div>
  </div>
  <br>
</div>
